body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* estilos basicos */

.container {
    box-shadow:0px 0px 30px #0f5177;
    width: 50vh;
    height: 80%;
    margin: 0%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: #181c25;
    border-radius: 10px;
    padding: 40px;
}

input {
    border: none;
    background-color: #252b3a;
}

.botones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

button {color: #a3a3a3;
    width: 100%;
    height: 100%;
    background-color: #333b4e;
    border: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 90px;
}

#equal {
    width: 100%;
}

#equal button{
    width: 100%;
}

#btn_special{
    background-color: #0f5177;
}

